<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="masthead mb-auto" th:fragment="header">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <div class="inner">
                <div  class="Lucida_Handwriting">
                    <a class="Lg" href=".." >
                        <h3 class="logo-brand" id="Logo">Divorce app</h3>
                    </a>
                </div>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="/">Home</a>
                    <a sec:authorize="!isAuthenticated()" class="nav-link" href="/login" th:href="@{/login}">Login</a>
                    <a sec:authorize="isAuthenticated()" class="nav-link fw-bold py-1 px-0" href="/logout" th:href="@{/logout}">Logout</a>
                    <a sec:authorize="!isAuthenticated()" class="nav-link fw-bold py-1 px-0" href="/register" th:href="@{/register}">Register</a>
                    <a class="nav-link" href="/contact">Contact</a>
                </nav>
            </div>
    </div>
</header>

<!--TODO switch active link & make authorze work-->
<script>
    $(document).ready(function() {
        $( ".nav-link" ).bind( "click", function(event) {
            event.preventDefault();
            const clickedItem = $(this);
            $( ".nav-link" ).each( function() {
                $( this ).removeClass( "active" );
            });
            clickedItem.addClass( "active" );
        });
    });
</script>

</body>
</html>