<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="masthead mb-auto" th:fragment="header">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <div class="inner">
                <div  class="Lucida_Handwriting">
<!--                    <img src="C:\Users\Katerina\OneDrive\Εικόνες\Στιγμιότυπα οθόνης\2023-02-18 (1).png" alt="Logo" width="50" height="60">-->
                    <a class="Lg" href=".." >
                        <h3 class="logo-brand" id="Logo">Divorce app</h3>
                    </a>
                </div>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="/" th:href="@{/}">Home</a>
                    <a sec:authorize="!isAuthenticated()" class="nav-link" href="/login" th:href="@{/login}">Login</a>
                    <a sec:authorize="isAuthenticated()" class="nav-link fw-bold py-1 px-0" href="/logout" th:href="@{/logout}">Logout</a>
                    <a sec:authorize="!isAuthenticated()" class="nav-link fw-bold py-1 px-0" href="/register" th:href="@{/register}">Register</a>
                    <a sec:authorize="isAuthenticated()" class="nav-link fw-bold py-1 px-0" href="/my_divorces" th:href="@{/my_divorces}">My Divorces</a>
                    <a sec:authorize="hasRole('LAWYER')" class="nav-link fw-bold py-1 px-0" href="/cdp" th:href="@{/cdp}">Create a divorce</a>
                    <a sec:authorize="hasRole('NOTARY')" class="nav-link fw-bold py-1 px-0" href="/account details" th:href="@{/account_details}">Insert notarial instrument</a>
                </nav>
            </div>
    </div>
</header>

<!--TODO switch active link & make authorize work-->

</body>
</html>