<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:account_details="http://www.ultraq.net.nz/thymeleaf/account_details"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Account details</title>
</head>
<body>

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="register-box" layout:fragment="main-content">
        <h1>Notarial's Action id</h1>
        <p></p>
        <p></p>

        <form name="notarialActionId">
            <div class="user-box">
                <input type="text" name="documentId" required=""/>
                <label>Document id</label>
            </div>
            <div class="user-box">
                <input type="text" name="notarialActionId" required=""/>
                <label>Notarial's Action id</label>
            </div>
            <div>
                <input type="submit" name="submitButton"/>
            </div>
        </form>

        <script>
            $("[name='submitButton']").click(() => {
                const notarialActionId = $("input[name=notarialActionId]").val();
                const documentId = $("input[name=documentId]").val();

                if(notarialActionId === "" || documentId === "") {
                    alert("Please fill in all the fields!");
                    return;
                }

                $.ajax({
                    url: "/divorce/notarialActionId/" + documentId,
                    type: "POST",
                    data: JSON.stringify(notarialActionId),
                    contentType: "application/json",
                    success: function (data) {
                        console.log(data);
                    }
                });
            });
        </script>
    </main>
</div>

</body>
</html>
insert notarial instrument