<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:cdp="http://www.ultraq.net.nz/thymeleaf/cdp"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Commencement of divorce proceedings</title>
</head>
<body>

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover" layout:fragment="main-content">
        <div main-content class="register-box">
            <p11>Fill in the following form</p11>
            <p></p>
            <form name="divorceInfo">
                <div class="user-box">
                    <input type="text" name="taxNumber" required=""/>
                    <label>Your Tax Number</label>
                </div>
                <div class="user-box">
                    <input type="text" name="spouseTaxNumber" required=""/>
                    <label>Spouse's Tax Number</label>
                </div>
                <div class="user-box">
                    <input type="text" name="lawyerTaxNumber" required=""/>
                    <label>Lawyer's Tax Number</label>
                </div>
                <div class="user-box">
                    <input type="text" name="notaryTaxNumber" required=""/>
                    <label>Notary's Tax Number</label>
                </div>
                <div class="user-box">
                    <input type="text" name="clientTaxNumber" required=""/>
                    <label>Your client's TaxNumber</label>
                </div>
                <div class="user-box">
                    <input type="text" name="childSupport" required=""/>
                    <label>Child Support</label>
                </div>
                <div class="user-box">
                    <input type="number" name="numberOfChildren" required=""/>
                    <label>Number of children</label>
                </div>
                <div>
                    <input type="checkbox" name="restoreName" required=""/>
                    <label>Restore client's name</label>
                </div>
                <p></p>
                <div>
                    <a href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>

                        <div>
                            <input type="submit" name="submitButton"/>
                        </div>
                    </a>
                </div>
            </form>
        </div>

        <div class="alert" name="alert">

        </div>


        <script type="text/javascript">
            $("[name='divorceInfo']").on("submit", (e) => {
                e.preventDefault();

                const taxNumber = $("[name='taxNumber']").val();
                const spouseTaxNumber = $("[name='spouseTaxNumber']").val();
                const lawyerTaxNumber = $("[name='lawyerTaxNumber']").val();
                const notaryTaxNumber = $("[name='notaryTaxNumber']").val();
                const clientTaxNumber = $("[name='clientTaxNumber']").val();
                const childSupport = $("[name='childSupport']").val();
                const restoreName = $("[name='restoreName']").is(":checked");
                const numberOfChildren = $("[name='numberOfChildren']").val();

                if(taxNumber === "" || spouseTaxNumber === "" || lawyerTaxNumber === "" || notaryTaxNumber === "" || clientTaxNumber === "" || childSupport === "" || numberOfChildren === ""){
                    return;
                }

                const urlCall = "/divorce/saveDivorce";
                const data = {
                    "lawyer1": taxNumber,
                    "spouse2": spouseTaxNumber,
                    "lawyer2": lawyerTaxNumber,
                    "notary": notaryTaxNumber,
                    "spouse1": clientTaxNumber,
                    "childSupport": parseFloat(childSupport),
                    "restoreName": restoreName,
                    "numberOfChildren": parseInt(numberOfChildren)
                };

                $.ajax({
                    url: urlCall,
                    type: "POST",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    success: function (data) {
                        createAlert("Divorce successfully created", "Success")
                    },
                    error: function (xhr, exception) {
                        createAlert("Error creating divorce" + xhr.status, "Warning")
                    }
                });
            })

            function createAlert(message, type){
                const alert = $("[name='alert']");
                alert.addClass("alert " + type);
                alert.text(message);

                setTimeout(() => {
                    alert.removeClass("alert " + type);
                    alert.text("");
                }, 3000);
            }
        </script>
    </main>
</div>
</body>
</html>