<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:cdp="http://www.ultraq.net.nz/thymeleaf/cdp"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Commencement of divorce proceedings</title>
</head>
<body>

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover" layout:fragment="main-content">

        <button class="button button1">
            <a href="../member_names" >insert member's names</a>
        </button>
        <button class="button button1">
            <a href="../document_details" >insert document’s details</a>
        </button>

    </main>
</div>
</body>
</html>