<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:confirmation_of_divorce="http://www.ultraq.net.nz/thymeleaf/confirmation_of_divorce"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Confirmation of divorce</title>
</head>
<body>
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">


    <main role="main" class="inner cover" layout:fragment="main-content">

        <div main-content class="inner">
            <p2>Divorce in progress</p2>
            <p> 1
                2
                3...
            </p>
            <div>
                <input type="submit" value="approval"/>
            </div>
        </div>

    </main>

</div>
</body>
</html>