<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:contact="http://www.ultraq.net.nz/thymeleaf/contact"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">


    <main role="main" class="inner cover" layout:fragment="main-content">

        <div main-content class="register-box">
            <p>Call us +30 69........</p>
            <p>To speak with a representative</p>
            <p>Or email us to @@@gmail.com<p/>
            <p>We'll get back to you within 24 hrs</p>
        </div>

    </main>

</div>
</body>
</html>