<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:more_information="http://www.ultraq.net.nz/thymeleaf/more_information" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8">
  <title>Help</title>
</head>
<body>

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto" th:replace="~{layout/header :: header}">
    <div>
      <h style="font-size:4vw">Help</h>
    </div>

  </header>


  <main role="main" class="inner cover" more_information:fragment="main-content">
      If you need information about how to use our application
    <div class="inner">
      <a href="more_information.html" >
        More information</a>
    </div>
    could be helpful


  </main>


  <footer class="mastfoot mt-auto" th:replace="~{layout/footer :: footer}" style="flex-direction: row;">
    <div class="inner">
      If you still do not know what to do press
      <a href="more_information.html" >
        More information</a>
    </div>
  </footer>
</div>
</body>
</html>