<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:log_in="http://www.ultraq.net.nz/thymeleaf"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}"
      xmlns:sec="https://thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover" layout:fragment="main-content">
            <div main-content class="inner">
<!--                <form name="Log in" >-->
<!--                    <div class="loginForm">-->
<!--                    <div>-->
<!--                        <label>Username</label>-->
<!--                        <input type="text" name="login"/>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <label>Password</label>-->
<!--                        <input type="password" name="password"/>-->
<!--                    </div>-->
<!--                    </div>-->
                 <table class="center" border="1" style="width:68%">
                     <tr style="height:100px">
                          <th>
                            <p2>Log in</p2>
                          </th>
                     </tr>
                     <tr>
                         <th style="height:200px">
                             <p2>User Name</p2>
                             <input type="text" name="login"/>

                             <p></p>

                             <p2>Password</p2>
                             <input type="password" name="password"/>
                             <p></p>
                             <input type="submit" name="submit"/>
                             <p></p>
                             <p>Else press <a href="../Register" >Sign in</a></p>
                         </th>

                     </tr>

                 </table>
                </form>
            </div>
        </main>

    </div>

</body>
</html>