<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:login="http://www.ultraq.net.nz/thymeleaf"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}"
      xmlns:sec="https://thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover" layout:fragment="main-content">
            <div main-content class="inner">
                <form name="Log in" action="login" method='POST'>
                    <div>
                        <label>Username</label>
                        <input type="text" name="username"/>
                    </div>
                    <div>
                        <label>Password</label>
                        <input type="password" name="password"/>
                    </div>
                    <div>
                        <input type="submit" value="Log in"/>
                    </div>
                </form>
            </div>

            <div th:if="${errorMsg}">
                <div th:replace='~{layout/notification :: notification(${errorMsg})}' ></div>

                <script>
                    setTimeout( () => {
                        document.getElementById("notification").innerHTML = "";
                    }, 5000);
                </script>
            </div>
        </main>

    </div>

</body>
</html>