<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:member_names="http://www.ultraq.net.nz/thymeleaf/member_names"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8">
  <title>Member info</title>
</head>
<body>

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <main role="main" class="inner cover" layout:fragment="main-content">

    <form name="Member information" method='POST'>
      <table class="center" border="1" style="width:68%">
        <th><p4>Other lawyer</p4></th>
        <th><p4>Notary</p4></th>
        <th><p4>Spouse 1</p4></th>
        <th><p4>Spouse 2</p4></th>
        <tr>
          <td>
            <div>
              <label>Name</label>
              <input type="text" name="other lawyer's name"/>
            </div>
            <div>
              <label>Last name</label>
              <input type="text" name="other lawyer's last name"/>
            </div>
            <div class="form-outline mb-4">
              <label>AFM/AMKA</label>
              <input type="text" name="other lawyer's AFM/AMKA"/>
            </div>
          </td>

          <td>
            <div>
              <label>Name</label>
              <input type="text" name="other lawyer's name"/>
            </div>
            <div>
              <label>Last name</label>
              <input type="text" name="other lawyer's last name"/>
            </div>
            <div class="form-outline mb-4">
              <label>AFM/AMKA</label>
              <input type="text" name="other lawyer's AFM/AMKA"/>
            </div>
          </td>

          <td>
            <div>
              <label>Name</label>
              <input type="text" name="other lawyer's name"/>
            </div>
            <div>
              <label>Last name</label>
              <input type="text" name="other lawyer's last name"/>
            </div>
            <div class="form-outline mb-4">
              <label>AFM/AMKA</label>
              <input type="text" name="other lawyer's AFM/AMKA"/>
            </div>
          </td>

          <td>
            <div>
              <label>Name</label>
              <input type="text" name="other lawyer's name"/>
            </div>
            <div>
              <label>Last name</label>
              <input type="text" name="other lawyer's last name"/>
            </div>
            <div class="form-outline mb-4">
              <label>AFM/AMKA</label>
              <input type="text" name="other lawyer's AFM/AMKA"/>
            </div>
          </td>
        </tr>
      </table>
    </form>

    <p></p>
    <div>
      <input type="submit" value="submit"/>
    </div>


  </main>
</div>

</body>
</html>