<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:more_information="http://www.ultraq.net.nz/thymeleaf/more_information"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>More information</title>
</head>
<body>

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="register-box" layout:fragment="main-content">

        <p3>
            The application’s aim is to implement the issuance of a marriage
            dissolution certificate. All participants that are being involved in the
            divorce must have been registered in our site.

            If you are:
        </p3>

        <p6>
            <ol>
                <p4><br>Lawyer</p4>
                    <ul>
                        <li><p1>Commen cement of divorce proceedings</p1>
                        <p5>Give the required information by pressing create a divorce and then by filling in the form.
                            </p5>
                        </li>

                        <li><p1>Confirm your divorce</p1>
                            <p5>Press confirmation of divorce and then approval.</p5>
                        </li>
                        <li>
                            <p1>Cancel your divorce</p1>
                            <p5>Press cancellation of divorce and then confirmed</p5>
                        </li>
                    </ul>


                <p4><br>Spouse</p4>
                    <ul>
                        <li>
                            <p1>Confirm your divorce</p1>
                            <p5>Press confirmation of divorce and then approval.</p5>
                        </li>
                    </ul>


                <p4><br>Notary</p4>
                    <ul>
                        <li>
                            <p1>Fill in the account’s details</p1>
                            <p5>Press insert notarial instrument and fill in the required documents.</p5>
                        </li>
                        <li>
                            <p1>Approve a divorce</p1>
                            <p5>Press approve to file and close a divorce.</p5>
                        </li>
                    </ul>

            </ol>
        </p6>


    </main>
</div>
</body>
</html>