<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>My divorces</title>
</head>
<body>

<div layout:fragment ="main-content">
    <h1>My divorces</h1>

    <form name="My divorces">
        <table class="center" border="1" style="width:68%">
            <tr style="height:100px">
                <th>
                    <p2>Finished divorces</p2>
                    <p> 1
                        2
                        3...
                    </p>
                </th>
            </tr>
            <tr>
                <th style="height:200px">
                    <p2>Divorce in progress</p2>
                    <p> 1
                        2
                        3...
                    </p>
                    <div>
                        <!--Να φαίνεται μόνο στους lawyer και spouse-->
                        <input type="submit" value="Approval"/>
                        <!--Να φαίνεται μόνο στους lawyer-->
                        <input type="submit" value="Cancel"/>
                    </div>
                </th>
            </tr>
        </table>
    </form>
</div>

</body>
</html>