<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>My divorces</title>
</head>
<body>
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

<main role="main" layout:fragment ="main-content" class="container" style="width:auto">
    <h2>My divorces</h2>

    <form name="myDivorces">
        <table class="styled-table center">
            <th>Divorce ID</th>
            <th>Created at</th>
            <th>Child support</th>
            <th>Restore name</th>
            <th>Status</th>
            <th>Notarial Action Id</th>
            <th th:if="${#authorization.expression('hasAnyRole(''LAWYER'', ''SPOUSE'')')}">Accept</th>
            <th th:if="${#authorization.expression('hasRole(''LAWYER'')')}">Cancel</th>
            <th th:if="${#authorization.expression('hasRole(''NOTARY'')')}">Approve</th>
            <tr th:each="divorce : ${divorces}">
                <td th:text="${divorce.getId()}"></td>
                <td th:text="${divorce.getCreated_at()}"></td>
                <td th:text="${divorce.getChildSupport()}"/>
                <td th:text="${divorce.getRestoreName()}"/>
                <td th:text="${divorce.getStatus()}"/>
                <td th:text="${divorce.getNotarialActionId()}"/>
                <td th:if="${#authorization.expression('hasAnyRole(''LAWYER'', ''SPOUSE'')')} and ${divorce.getStatus().toLowerCase().equals('pending')}">
                    <input type="submit" th:id="${divorce.getId()}"
                            name="acceptDivorce" value="Accept"/>
                </td>
                <td th:if="${#authorization.expression('hasRole(''LAWYER'')')} and ${divorce.getStatus().toLowerCase().equals('pending')}">
                    <input type="submit" th:id="${divorce.getId()}"
                            name="cancelDivorce" value="Cancel"/>
                </td>
                <td th:if="${#authorization.expression('hasRole(''NOTARY'')')} and ${divorce.getStatus().toLowerCase().equals('pending')}">
                    <input type="submit" th:id="${divorce.getId()}"
                            name="approveDivorce" value="Approve"/>
                </td>
                <td th:if="${#authorization.expression('hasAnyRole(''LAWYER'', ''SPOUSE'')')} and ${divorce.getStatus().toLowerCase().equals('approved')}">
                    -
                </td>
                <td th:if="${#authorization.expression('hasRole(''LAWYER'')')} and ${divorce.getStatus().toLowerCase().equals('approved')}">
                    -
                </td>
                <td th:if="${#authorization.expression('hasRole(''NOTARY'')')} and ${divorce.getStatus().toLowerCase().equals('approved')}">
                    -
                </td>
            </tr>
        </table>
    </form>

    <div class="alert" name="alert">

    </div>

    <script type="text/javascript">
        $("[name='cancelDivorce']").on("click", (e) => {
            e.preventDefault();

            const urlCall = "/divorce/deleteDivorce/" + $(e.target).attr("id");
            $.ajax({
                url: urlCall,
                type: "POST",
                success: function (result) {
                    createAlert(result, "Success")
                },
                error: function (xhr, exception) {
                    switch (xhr.status) {
                        case 404:
                            createAlert(xhr.responseText, "Warning")
                            break;
                        case 403:
                            createAlert(xhr.responseText, "Warning")
                            break;
                        default:
                            createAlert("Something went wrong. Try again in a bit", "Warning")
                    }
                }
            });
        })

        $("[name='acceptDivorce']").on("click", (e) => {
            e.preventDefault();
            const urlCall = "/divorce/acceptDivorce/" + $(e.target).attr("id");
            $.ajax({
                url: urlCall,
                type: "POST",
                success: function (result) {
                    createAlert(result, "Success")
                },
                error: function (xhr, exception) {
                    switch (xhr.status) {
                        case 404:
                            createAlert(xhr.responseText, "Warning")
                            break;
                        case 403:
                            createAlert(xhr.responseText, "Warning")
                            break;
                        case 409:
                            createAlert(xhr.responseText, "Warning")
                            break;
                        default:
                            createAlert("Something went wrong. Try again in a bit", "Warning")
                    }
                }
            });
        })

        $("[name='approveDivorce']").on("click", (e) =>{
            e.preventDefault();
            const urlCall = "/divorce/approveDivorce/" + $(e.target).attr("id");
            $.ajax({
                url: urlCall,
                type: "POST",
                success: function (result) {
                    createAlert(result, "Success")
                },
                error: function (xhr, exception) {
                    switch (xhr.status) {
                        case 404:
                            createAlert(xhr.responseText, "Warning")
                            break;
                        case 403:
                            createAlert(xhr.responseText, "Warning")
                            break;
                        default:
                            createAlert("Something went wrong. Try again in a bit", "Warning")
                    }
                }
            });
        })

        function createAlert(message, type){
            const alert = $("[name='alert']");
            alert.addClass("alert " + type);
            alert.text(message);

            setTimeout(() => {
                alert.removeClass("alert " + type);
                alert.text("");
                location.reload();
            }, 3000);
        }
    </script>
</main>
</div>
</body>
</html>