<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:register="http://www.ultraq.net.nz/thymeleaf"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}"
      xmlns:sec="https://thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover" layout:fragment="main-content">
        <form th:action="@{/register}" th:object="${user}" method="post">
            <div class="form-outline mb-4">
                <label for="username" class="form-label">Username</label>
                <input type="text" th:field="*{username}" id="username" placeholder="username" class="form-control">
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
            </div>
            <div class="form-outline mb-4">
                <label for="password" class="form-label">Password</label>
                <input type="password" th:field="*{password}" id="password" placeholder="password" class="form-control">
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>
            <div class="form-outline mb-4">
                <label for="email" class="form-label">Email</label>
                <input type="text" th:field="*{email}" id="email" placeholder="email" class="form-control">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>
            <div class="form-outline mb-4">
                <label for="fullName" class="form-label">Full Name</label>
                <input type="text" th:field="*{fullName}" id="fullName" placeholder="fullname" class="form-control">
                <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>
            </div>

            <div class="form-outline mb-4">
                <label for="taxNumber" class="form-label">Tax Number</label>
                <input type="text" th:field="*{taxNumber}" id="taxNumber" placeholder="taxNumber" class="form-control">
                <span th:if="${#fields.hasErrors('taxNumber')}" th:errors="*{taxNumber}"></span>
            </div>

            <div class="form-outline mb-4">
                <label for="role" class="form-label">Role</label>
                <select th:field="*{role}" id="role" class="form-control">
                    <option value="SPOUSE">Spouse</option>
                    <option value="LAWYER">Lawyer</option>
                    <option value="NOTARY">Notary</option>
                </select>
                <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></span>
            </div>

            <input type="submit"
                   name="submit"/>

        </form>
    </main>
</div>

</body>
</html>