<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{spouse_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Spouse Page</title>
</head>
<body>
<header class="masthead mb-auto" th:fragment="header">

</header>

<div layout:fragment ="main-content">

    <div id="wrapperDiv">
        <div id="div2" style="padding:20px; float:left">
            <!-- Page Content -->
            <div >
                <img src="https://www.cecilcianci.com/images/blog/3.png" alt="Divorce image" style="width:100%">
            </div>
        </div>
    </div>

</div>

</body>
</html>