<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{spouse_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Spouse Page</title>
</head>
<body>
<header class="masthead mb-auto" th:fragment="header">

</header>

<div layout:fragment ="main-content">
    <h1>This is the Spouse's Page</h1>
    <p>Here will be the divorces that spouse had been involved, is being involved</p>

</div>

</body>
</html>